body {
    font-family: Arial, sans-serif;
}

#main-title {
    color: blue;
    text-align: center;
}

.section {
    background-color: lightgray;
    margin: 20px;
    padding: 15px;
}

.info {
    color: green;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
}
